body {
    background-color: thistle;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

.member-header {
    display: inline-block;
    margin: 0;
    margin-left: 12px;
}

.header {
    margin-bottom: 10px;
}

.member-icon {
    vertical-align: bottom;
}

